/* general setting */

body{
 font-family: 'Montserrat', sans-serif;
 font-weight: 500;
}

/* header layout */
.list-inline{
 line-height: 40px;
}

.menu{
 position: relative;
 float: right;
 padding: 9px 10px;
 border: 1px solid transparent;
 border-radius: 4px;
 color: #2bd093;
 }

 .lower-header{
  background-image: url("img/bg-banner-home.jpg");
  background-position: center;
  height: 500px;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
 }

 i.fas.fa-bars{
  font-size: 20px;
 }






/* Utilyties */

/* typo */

a{
 color: black;
}

h1{
 color: white;
}

h2{
 color: white;
 font-size: 28px;
 font-weight: 700;
}

p{
 color:#ffffffbf;
 font-size: 17px;
}

/* layout */
.mt-30{
 margin-top: 30px;
}

.height-50{
 height: 50px;
}




/* btn */

.btn-green{
 border-color: #34bed4;
 color: lightblue;
}


/* media */

@media screen and (min-width:768px){
 /* typo */

 h2{
  font-size: 26px;
 }

}


@media screen and (min-width:992px){
 /* typo */

 h2{
  font-size: 32px;
 }

 p{
  font-size: 14px;
 }
}
